<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %> 
<body>
    <%- include("../partials/header.ejs") %> 
    <div class="index" id="search-container">
        <!-- This is where search box will go -->
    </div>
    <% for (rest of rests) { %> 
    <div class="index" id="line-container">
        <div class="index" id="line-info">
            <a class="index" id="line-link" href="/restaurants/<%= rest._id %> "><%= rest.restName %> </a><br>
            <h3><%= rest.restCity %> </h3>
            <h3><%= rest.restHappsHours %> </h3>
        </div>
    </div>
    <% } %> 
</body>
</html>