<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %> 
<body>
    <%- include("../partials/header.ejs") %>
    <div class="show" id="top-container">
        <div class="show" id="title-city-hours">
            <div class="show" id="rest-name-city">
                <h3><%= rest.restName %> </h3>
                <h3><%= rest.restCity %> </h3>
            </div>
            <div class="show" id="rest-hours">
                <h3><%= rest.restOpenHours %> </h3>
                <h3><%= rest.restHappsHours %> </h3>
            </div>
        </div>
        <div class="show" id="contents">
            <h3><%= rest.restCuisine %> </h3>
            <div class="show" id="hh-deals">
                <h3>HH Deals:</h3>
<!-- Will need to generate this for each deal -->
                <div class="show" id="deal-container">
                    <h5>Line Item Name</h5>
                    <div class="show" id="deal-info">
                        <h5>Line Item Info (collapsible)</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="show" id="creator">
            <h3>Created by: </h3>
            <div class="show" id="votes">
                Vote (up arrow)(down arrow)
            </div>
        </div>
        <a href="/restaurants/<%= rest._id %>/edit"><button>Edit</button></a>
        <form action="/restaurants/<%= rest._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Remove">
        </form>
        <a href="/restaurants"><button>Back to Main</button></a>
    </div> 
</body>